<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>>menu</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>


<div class="menu-container"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" 
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">
 
   
   
   <a th:href="@{/}">Home</a>
   |
   <a th:href="@{/productList}">
   Product List
   </a>
   |
   <a th:href="@{/shoppingCart}">
   My Cart
   </a>
   |
   <th:block sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')">
      <a th:href="@{/admin/orderList}">
      Order List
      </a>
      |
   </th:block>
   <th:block sec:authorize="hasRole('ROLE_MANAGER')">
      <a th:href="@{/admin/product}">
      Create Product
      </a>
      |
   <a th:href="@{/sendMoney}">Send Money</a>
   </th:block>
</div>
</body>
</html>