<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>V Mart OnlineShopping</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
       
      <div class="demo-container">
      <image  src= "https://image.freepik.com/free-photo/3d-rendering-parcel-delivery-services_73903-377.jpg" 
         align="right">
       
<h3 style="font-family: 'Dancing Script';font-size: 24px;">“Buy what you don’t have yet or what you really want,</h3>
 <h3 style="font-family: 'Dancing Script';font-size: 24px;">which can be mixed with what you already own.</h3>
 <h3 style="font-family: 'Dancing Script';font-size: 24px;">Buy only because something excites you, </h3>
 <h3 style="font-family: 'Dancing Script';font-size: 24px;">not just for the simple act of shopping.”</h3>
      </div>
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>